@import '../../sassStyles/mixins';
@import '../../sassStyles/variables';
.phone-mockup {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 43.5rem;
  //TODO: delete this line
  background-color: green;

  position: relative;

  .profileInformationContainer {
    position: absolute;
    // TODO: delete this
    background-color: red;
    opacity: 0.5;
    top: 10rem;
    width: 23rem;
    height: 23rem;
  }

  .linkContainer {
    position: absolute;
    top: 35rem;
    width: 25rem;
    height: 33rem;
    overflow-y: auto;
    //TODO: delete this line
    background-color: purple;
    opacity: 0.5;

    .link {
      background-color: $red;
      height: 5rem;
      padding: 1.4rem 1.6rem;
      border-radius: $border-radius;
      margin: 1rem 0 1.3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;

      .linkInfoContainer {
        display: flex;
        align-items: center;
      }

      .platformName {
        margin-left: 1rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }

  @include responsiveMax($tablet) {
    display: none;
  }
}
