@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.platformLink {
  display: flex;
  flex-direction: column;
  & .actionButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & button {
      text-transform: capitalize;
    }
  }
}
