@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.platformLink {
  display: flex;
  flex-direction: column;

  & .enumeration {
    font-size: 1.6rem;
    color: $grey;
  }
  & .actionButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & button {
      text-transform: capitalize;
      font-size: 1.6rem;
      color: $grey;
      font-weight: lighter;
    }
  }

  .platformSubheadings {
    margin: 0.4rem 0;
    font-weight: lighter;
    font-size: 12px;
  }

  .platformContainer {
    display: flex;
    flex-direction: column;
  }

  .linkContainer {
    margin-top: 1.2rem;

    & input {
      width: 100%;
    }
  }
}
