@import '../../sassStyles/variables';

.navbar {
  background-color: $white;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .navbarLinks {
    display: flex;
    flex-direction: row;
    align-items: center;

    & a {
      text-decoration: none;
      color: $dark-grey;
      margin-right: 1rem;
    }
  }
}
