@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.inputContainer {
  position: relative;
  & .inputIcon {
    position: absolute;
    top: 35%;
    left: 1rem;
  }

  .label {
    position: absolute;
    left: -90000px;
  }

  .errorMessage {
    position: absolute;
    right: 10px;
    top: 30%;
    font-size: 12px;
    color: $red;
    @include responsiveMax($tablet) {
      top: 115%;
      left: 0;
    }
  }
}
.inputText {
  padding: 1rem 3rem;
  border: 1px solid $light-grey;
  border-radius: 5px;

  &.inputInvalid {
    box-shadow: none;
    outline: 1px solid $red;
    transition: all 200ms ease-out;
  }
}
.inputText:focus {
  box-shadow: 0 0 20px 5px rgba($color: $purple, $alpha: 0.4);
  outline: 1px solid $purple;
}

.inputText::placeholder {
  font-size: 1.6rem;
}
