@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.card {
  border-radius: $border-radius;
  padding: 4rem;
}

.grey {
  background-color: $borders;
}

.white {
  background-color: $white;
}

.transparent {
  background-color: transparent;
}
