@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.mainContainer {
  display: grid;
  gap: 2rem;
  grid-template-areas: 'mockup homeLinks';

  @include responsiveMax($phone) {
    grid-template-areas: 'homeLinks';
  }
}

.phone-mockup {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  @include responsiveMax($phone) {
    display: none;
  }
}

.homeLinks {
  margin-top: 2rem;
  grid-area: homeLinks;

  @include responsiveMax($phone) {
    margin-top: 0;
  }

  &-mainInstructions {
    color: $grey;
    font-weight: lighter;
    margin-top: 0.8rem;
    line-height: 2.3rem;
  }

  &-buttonAdd {
    width: 90%;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2.4rem;
  }
}

.buttonSave--container {
  display: flex;
  justify-content: flex-end;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 2rem 0;

  & button {
    text-align: center;
  }
}
